{% extends 'templates/base.html' %}
{% block title %}Thêm Môn học{% endblock title %}

{% block headcontent %}
<style media="screen">
    a:link {
      text-decoration: none;
    }

    .note {
      text-align: center;
      height: 80px;
      background: -webkit-linear-gradient(left, #0072ff, #8811c5);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    .form-content {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
    }

    .form-control {
      border-radius: 1.5rem;
    }

    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 1%;
      width: 20%;
      cursor: pointer;
      background: #0062cc;
      color: #fff;
    }
  </style>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock headcontent %}

{% block content %}

<div class="container register-form">
    <div class="form">
      <div class="note">
        <p>Thêm lớp</p>
      </div>

      <div class="form-content">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Thêm Lớp</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/themlop" method="post">
                  {% csrf_token %}
                <div class="card-body">

                   <div class="form-group">
                    <label>Tên Lớp</label>
                    <input type="text" class="form-control" placeholder="" name="ten_lop">
               

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Thêm môn học</button>
                </div>
              </form>
            </div>            



          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}