{% extends 'templates/base.html' %}
{% block title %}Thêm Sinh viên{% endblock title %}
{% block headcontent %}<style media="screen">
    a:link {
      text-decoration: none;
    }

    .note {
      text-align: center;
      height: 80px;
      background: -webkit-linear-gradient(left, #0072ff, #8811c5);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    .form-content {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
    }

    .form-control {
      border-radius: 1.5rem;
    }

    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 1%;
      width: 20%;
      cursor: pointer;
      background: #0062cc;
      color: #fff;
    }
  </style>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock headcontent %}


{% block content %}
<div class="container register-form">
    <div class="form">
      <div class="note">
        <p></p>
      </div>

      <div class="form-content">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Them sinh viên</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/themsinhvien" method="post">
                  {% csrf_token %}
                <div class="card-body">

                   <div class="form-group">
                    <label>Họ</label>
                    <input type="text" class="form-control" placeholder="First Name" name="first_name">
                  </div>
                   <div class="form-group">
                    <label>Tên</label>
                    <input type="text" class="form-control" placeholder="Last Name" name="last_name">
                  </div>
                   <div class="form-group">
                    <label>Tên người dùng</label>
                    <input type="text" class="form-control" placeholder="Username" name="username">
                  </div>
                    <div class="form-group">
                    <label>Địa chỉ email</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label>Mật khẩu</label>
                    <input type="password" class="form-control" placeholder="Password" name="password">
                  </div>
                  <div class="form-group">
                    <label>Lớp</label>
                    <select name= "id">
                    {% for lop in lops  %}
                    <option value="{{ lop.id}}"  >{{ lop.ten_lop}}</option>

                    {% endfor %}

                    </select>
                  </div>
                     
                   

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Add Staff</button>
                </div>
              </form>
            </div>            



          </div>
        </div>
        <button type="submit" class="btnSubmit">Hire</button>
      </div>
    </div>
  </div>
{% endblock content %}