{% extends 'templates/Giangvien_base.html' %}
{% block title %}Lớp Học phân của giảng viên{% endblock title %}

{% block headcontent %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<style media="screen">
  a:link {
    text-decoration: none;
  }

  h6 {
    text-align: center;
  }

  .row {
    margin: 100px;
  }
</style>
{% endblock headcontent %}

{% block content %}

<div class="container">

  <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">Lớp giảng dạy</h6>

      </div>

      <table class="table table-hover" id="dev-table">
        <thead>

          <tr>
            <th>Tên Hoc phan</th>
            <th>Tên lớp</th>
            <th>Số lượng sinh viên</th>
          </tr>
        </thead>

        <thead id="table"></thead>




      </table>
    </div>


  </div>
</div>
<script>
  $(document).ready(function () {
    $.ajax({
      url: 'lopgiangvien',
      type: 'GET',
      data: {}
    }).done(function (res) {
      console.log(res)
      var div = ""
      json_data = JSON.parse(res)
      for (key in json_data) {
        div += "<tr>"
        div += "<td>" + json_data[key]['tenlop'] + "</td>"
        div += "<td>" + json_data[key]['tenhocphan'] + "</td>"
        div += "<td>" + json_data[key]['slsv'] + "</td>"
        // div +="<td>"+json_data[key]['tenhocphan']+"</td>"
        div += "</tr>"
      }
      $("#table").html(div)
    })
  })
</script>

{% endblock content %}