{% extends 'templates/Giangvien_base.html' %}
{% load qr_code %}
{% block title %}Điểm danh{% endblock title %}
{% load static %}

{% block headcontent %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<style media="screen">
    a:link {
        text-decoration: none;
    }

    a:link {
        text-decoration: none;
    }

    h6 {
        text-align: center;
    }

    .row {
        margin: 20px;
    }
</style>
{% endblock headcontent %}

{% block content %}
<div class="container register-form">
    
</div>
{% endblock content %}