{% extends "templates/base_Enterprise.html" %}
{% block title %}
Quản lý nhân viên
{% endblock title %}
{% load static %}
{% block headcontent %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<style type="text/css">
    a:link {
        text-decoration: none;
    }

    h6 {
        color: white;
    }

    .order-card {
        color: #fff;
    }

    .bg-c-blue {
        background: linear-gradient(45deg, #4099ff, #73b4ff);
    }

    .bg-c-green {
        background: linear-gradient(45deg, #2ed8b6, #59e0c5);
    }

    .bg-c-yellow {
        background: linear-gradient(45deg, #FFB64D, #ffcb80);
    }

    .bg-c-pink {
        background: linear-gradient(45deg, #FF5370, #ff869a);
    }


    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .card .card-block {
        padding: 25px;
    }

    .order-card i {
        font-size: 26px;
    }

    .f-left {
        float: left;
    }

    .f-right {
        float: right;
    }

    .row {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }

    .table>thead>tr>th {
        border-right: 1px solid #ddd;
        border-bottom: 0;
    }

    .table>tbody>tr>td {
        border-right: 1px solid #ddd;
    }

    .table>thead>tr>th:last-of-type {
        border-right: 0px;
    }

    .table>tbody>tr>td:last-of-type {
        border-right: 0px;
    }

    .panel-body {
        padding: 0;
    }

    .panel-body>.table {
        margin-bottom: 0px;
    }
</style>
{% endblock headcontent %}

{% block content %}
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading" style="font-size:20px;text-align: center;">
            Quản lý nhân viên
        </div>
        <div class="panel-body">

            <span>
                <table class="table table-bordered table-hover " id="dev-table">
                    <thead>

                        <tr>
                            <th>Họ tên</th>
                            <th>ID</th>
                            <th>Ngày tạo</th>
                            <th>Bộ phận</th>
                            <th>Tài khoản</th>
                            <th>Cập nhật</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    {% for staff in staffs %}
                    {% if staff.perm.is_active == True %}
                    <tr id="{{ staff.mssv}}">
                        <td> {{staff.perm.first_name}} {{ staff.perm.last_name}}</td>
                        <td>{{staff.mssv}}</td>
                        <td>{{staff.ngay_tao}}</td>
                        <td>{{staff.id_lop.ten_lop}}</td>
                        <td>{{staff.perm.username}}</td>
                        <td><button class="btn btn-primary btn-block" id='getupdateStaff' data-toggle="modal"
                                data-target="#myModal" value="{{staff.mssv}}">Cập nhật</button></td>
                        <td><button class="btn btn-primary btn-block" id="deleteStaff"
                                value="{{staff.mssv}}">Xóa</button>
                        </td>

                    </tr>

                    {% endif %}

                    {% endfor %}
                </table>
            </span>
        </div>
    </div>
    <div class="form-group">


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <form role="form" action="/updateTeacher" method="post">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#428BCA;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel" style=" text-align: center">Thay đổi Thông tin
                                giảng viên</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Họ</label>
                                <input type="text" class="form-control" placeholder="First Name" name="first_name"
                                    id="first_name">
                            </div>
                            <div class="form-group">
                                <label>Tên</label>
                                <input type="text" class="form-control" placeholder="Last Name" name="last_name"
                                    id="last_name">
                            </div>
                            
                            <div class="form-group">
                                <label>Địa chỉ hiện tại</label>
                                <p id="present_address"></p>
                                <label>Địa chỉ</label>
                                <select name="ls_province" id="tinh"></select>
                                <select name="ls_district" id="huyen"></select>
                                <select name="ls_ward" id="xa"></select>
                            </div>
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input type="text" class="form-control" name="sodienthoai" id="sodienthoai"
                                    placeholder="Số điện thoại" data-format="0ddddddddd">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="apply_change">Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="{% static 'dist/js/vietnamlocalselector.js' %}"></script>
    <script>
        var localpicker = new LocalPicker({
            province: "ls_province",
            district: "ls_district",
            ward: "ls_ward"
        });

        var options = {
            /*
                HTML Selector. You can pass value of name, id or class. 
                It will automatically detect exist elements for you.
                Example: 'myIdOrClass','#myId', '.myClass', 'myName'
                */
            province: 'ls_province',
            district: 'ls_district',
            ward: 'ls_ward',

            /*
            Define value for option tag. Valid option: id|name           
            */
            getValueBy: 'name',

            //Placeholder text
            provinceText: 'Chọn tỉnh / thành phố',
            districtText: 'Chọn quận / huyện',
            districtNoText: 'Địa phương này không có quận / huyện',
            wardText: 'Chọn phường / xã',
            wardNoText: 'Địa phương này không có phường / xã',

            // Default value if no location exist
            emptyValue: " ",

            // Hide option where no local exist
            hideEmptyValueOption: true,

            // Hide place-holder option (first option)
            hidePlaceHolderOption: true,

            /*
            Include local level on option text as prefix
            Example: true = Quận Bình Thạnh | false = Bình Thạnh
            */
            provincePrefix: false,
            districtPrefix: true,
            wardPrefix: true,

            /*
            Include local level in option tag's attribute
            */
            levelAsAttribute: true,
            levelAttributeName: "data-level",
        };
    </script>
    <script>

        $(document).ready(function () {
            $(document).on("click", "#deleteStaff", function () {
                var staffID = $(this).val();
                console.log(staffID)
                $.ajax({
                    url: "{% url 'deleteStaff' %}",
                    type: "POST",
                    data: { staffID: staffID }
                }).done(function (response) {
                    if (response == "OK") {
                        console.log("OKK")
                        document.getElementById(staffID).style.display = "none";
                        alert("Xóa giảng viên thành công")
                    }
                    if (response == "Error") {
                        console.log("Not ok");
                    }
                })
            })
            $(document).on("click", "#getupdateStaff", function () {
            var teacherID = $(this).val();
            console.log($(this).val())
            $.ajax({
                url: "{% url 'getupdateStudent' %}",
                type: "POST",
                data: { teacherID: teacherID }
            }).done(function (response) {
                console.log(response)
                var json_data = JSON.parse(response)
                console.log(json_data)

                $("#first_name").val("" + json_data["ho"])
                $("#last_name").val("" + json_data["ten"])
                if (json_data["diachi"] == null) {
                    document.getElementById('present_address').innerHTML = "Không có địa chỉ"
                } else {
                    document.getElementById('present_address').innerHTML = json_data["diachi"]
                }
                document.getElementById('hocvan').value = json_data["hocvan"];
                if (json_data["diachi"] == null) {
                    $("#so_dien_thoai").val(json_data["so_dien_thoai"])
                } else {
                }
            }).fail(function () {
                alert("Lỗi, vui lòng thử lại");
            })
            $(document).on("click", "#apply_change", function () {
                var first_name = $("#first_name").val()
                var last_name = $("#last_name").val()
                if ($("#tinh").val() != null && $("#huyen").val() != null && $("#xa").val() != null) {
                    var tinh = $("#tinh option:selected").text()
                    var huyen = $("#huyen option:selected").text()
                    var xa = $("#xa option:selected").text()
                    var diachi = xa + ", " + huyen + ", " + tinh

                } else {
                    diachi = ""
                }
                var sodienthoai = $("#sodienthoai").val()
                var hocvan = $("#hocvan").val()
                var t = $("#tinh option:selected").val()
                console.log(t)
                $.ajax({
                    url: "{% url 'updateStudent' %}",
                    type: "POST",
                    data: {
                        teacherID: teacherID,
                        first_name: first_name,
                        last_name: last_name,
                        diachi: diachi,
                        sodienthoai: sodienthoai,
                        hocvan: hocvan
                    }
                }).done(function (response) {
                    console.log(teacherID)
                    $.removeData(teacherID)
                    location.reload();

                })



            })
            $('[data-dismiss=modal]').on('click', function (e) {
                location.reload();
            })

        })

        })
       

    </script>

</div>
{% endblock content %}