{% extends 'templates/sinhvien_base.html' %}

{% block title %}Điểm danh sinh viên{% endblock title %}
{% block headcontent %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<style media="screen">
    a:link {
        text-decoration: none;
    }

    a:link {
        text-decoration: none;
    }

    h6 {
        text-align: center;
    }

    .row {
        margin: 20px;
    }

    .bordersv {
        border-top: 1px dashed #CCCCCC;
        font-size: 10pt;
        line-height: 22px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>
{% endblock headcontent %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h6 class="panel-title">Điểm danh</h6>

            </div>
            <div class="form-group">
                <label>Môn học </label>
                <select id="id_hocphan" name="id_hocphan">
                    {% for hocphan in hocphans %}
                    <option value="{{ hocphan.id }}"> {{hocphan.ten_hoc_phan}} ---- {{hocphan.id_lop.ten_lop}}</option>
                    {% endfor %}

                </select>

            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-block" id="danhsach_diemdanh">Xem</button>
            </div>
            <div id="studentAtt">
            </div>
        </div>
    </div>
    <script>
        $(document).on("click", "#danhsach_diemdanh", function () {
            var id_hocphan = $("#id_hocphan").val()
            $.ajax({
                url: "{% url 'danhsach_diemdanh'%}",
                type: "POST",
                data: { id_hocphan: id_hocphan }
            }).done(function (res) {
                div = ""
                div += "<table class = 'table table-hover'>"
                div += "<tr><th>ID</th><th>Ngày điểm danh</th><th>Trạng thái</th><tr>"

                json_data = JSON.parse(res)
                for (key in json_data) {
                    console.log(json_data[key])
                    var trangthai = ""
                    if (json_data[key]["trangthai"] == false){
                        trangthai = "Chưa điểm danh"

                    }else{
                        trangthai = "Đã điểm danh"
                    }
                    div += "<tr> <td> "+ json_data[key]["id_diemdanh"]+"</td><td>"+json_data[key]["ngay_diem_danh"]+"</td><td>"+trangthai +"</td></tr>"
                }
                div += "</table>"
                $("#studentAtt").html(div)
            })
        })
    </script>
</div>
{% endblock content %}