{% extends 'templates/sinhvien_base.html' %}

{% block title %}Điểm danh sinh viên{% endblock title %}
{% block headcontent %}
<link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<style media="screen">
    a:link {
        text-decoration: none;
    }

    a:link {
        text-decoration: none;
    }

    h6 {
        text-align: center;
    }

    .row {
        margin: 20px;
    }

    .bordersv {
        border-top: 1px dashed #CCCCCC;
        font-size: 10pt;
        line-height: 22px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>
{% endblock headcontent %}

{% block content %}
<div class="container">
        <div class="card card-primary">
                <h6 class="card-header">Điểm danh</h6>

            <div class="card-body">
                <div class="form-group">
                    <label>Môn học </label>
                    <select id="id_hocphan" name="id_hocphan">
                        {% for hocphan in hocphans %}
                        <option value="{{ hocphan.id }}"> {{hocphan.ten_hoc_phan}} ---- {{hocphan.id_lop.ten_lop}}</option>
                        {% endfor %}
    
                    </select>
    
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-block" id="danhsach_diemdanh">Xem</button>
            </div>
            <div id="studentAtt">
            </div>
        </div>
    <script>
        $(document).ready(function(){
            $(document).on("click", "#danhsach_diemdanh", function () {
            var id_hocphan = $("#id_hocphan").val()
            $.ajax({
                url: "{% url 'danhsach_diemdanh'%}",
                type: "POST",
                data: { id_hocphan: id_hocphan }
            }).done(function (res) {
                div = ""
                div += "<table class = 'table table-hover'>"
                div += "<tr><th>ID</th><th>Ngày điểm danh</th><th>Trạng thái</th><tr>"

                json_data = JSON.parse(res)
                for (key in json_data) {
                    console.log(json_data[key])
                    var trangthai = ""
                    if (json_data[key]["trangthai"] == false){
                        trangthai = "Chưa điểm danh"

                    }else{
                        trangthai = "Đã điểm danh"
                    }
                    div += "<tr> <td> "+ json_data[key]["id_diemdanh"]+"</td><td>"+json_data[key]["ngay_diem_danh"]+"</td><td>"+trangthai +"</td></tr>"
                }
                div += "</table>"
                $("#studentAtt").html(div)
            })
        })
        })
    </script>
</div>
{% endblock content %}